{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<!--Show case-->

<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">Products</h1>
      </div>
    </div>
  </div>
</section>

 <!-- Breadcrumb -->
 <section id="bc" class="mt-3">
  <div>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">Category Name</li>
      </ol>
    </nav>
  </div>
</section>

  <!--product details-->
   <!--TOp Products-->
   <div class="container">
    <div class="top-title" style="padding-bottom: 1em;">
      <p class="h4 text-center">Products</p>
    </div>
    <div class="row">

      {% if get_products %}
      {% for product in get_products %}

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card" style="width: 20rem;">
          <a href="{% url 'single' product.id %}">
            <img class="card-img-top" src="{{product.main_img.url}}" height="200" alt="Card image cap">
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'single' product.id %}">
                {{product.prod_name}}
              </a>
            </h5>
            <p class="card-text" style="overflow: hidden; max-width: 100ch; white-space: nowrap; text-overflow: ellipsis;">
              <small class="text-muted">{{product.description}}</small></p>
            <a href="#" class="btn btn-sm btn-primary" style="font-size: 13px;">Buy Now</a>
            <a href="javascript:{document.getElementById('ca').submit()}" class="btn btn-sm btn-danger" style="font-size: 15px;"><i style="font-size: 14px;" class="small material-icons text-left">child_friendly</i>Cart</a>
            <form action="{% url 'cart' %}" method="POST" id="ca">
              {% csrf_token %}
              <input type="text" name="name" value="{{product.prod_name}}" hidden>
              <input type="text" name="prod_id" value="{{product.id}}" hidden>
              {% if user.is_authenticated %}
              <input type="text" name="username" value="{{user.username}}" hidden>
              {% endif %}
            </form>
            <span class="lead" style="float:right;"> #{{product.price | intcomma}}</span>
          </div>
        </div>
      </div>


      {% endfor %}
      {% else %}
        <p class="lead">Product Not Available</p>
      {% endif %}

    </div>
    <div class="row">
      <div class="col-md-12">
        {% if get_products.has_other_pages %}
        <ul class="pagination">
         {% if get_products.has_previous %}
          <li class="page-item">
            <a href="?page={{ get_products.previous_page_number}}" class="page-link">&laquo;</a>
          </li>
          {% else %}
          <li class="page-item disable">
            <a class="page-link">&laquo;</a>
          </li>
         {% endif %}
         {% for i in get_products.paginator.page_range %}
         {% if get_products.number == i %}
           <li class="page-item active">
             <a class="page-link">{{i}}</a>
           </li>
         {% else %}
           <li class="page-item">
             <a href="?page={{i}}" class="page-link">{{i}}</a>
           </li>
         {% endif %}
         {% endfor %}
         {% if get_products.has_next %}
          <li class="page-item">
            <a href="?page={{ get_products.next_page_number}}" class="page-link">&raquo;</a>
          </li>
          {% else %}
          <li class="page-item disable">
            <a class="page-link">&raquo;</a>
          </li>
         {% endif %}
       </ul>
        {% endif %}
      </div>
    </div>

  </div>

    <br>
{% endblock  %}