<!--site details-->
<div class="footer-details">
    <div class="container justify">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 ">
          <h3>About Us</h3>
          <p>When using button classes on `<a>` elements that are used to trigger in-page 
            functionality (like collapsing content), rather than linking to new pages or
            sections within the current page, these links should be given a</p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 offset-lg-1">
          <div class="widget clearfix">
            <div class="widget-title">
                <h3>Information Link</h3>
            </div>
            <ul class="footer-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Terms and Conditions</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
          <h3>Contact</h3>
          <p>
            functionality (like collapsing content), rather than linking to new pages or
            sections within the current page, these links should be given a
          </p>
        </div>

      </div>
    </div>
  </div>

  <!--footer-->
  <div class="footers">
    <div class="footer-center main-footer">
      <span>All Rights Reserved. &copy; <span id="now"></span> Created and Design by <a href="www.fb.com/fakeem3">Fatai Akeem</a> &amp; <a href="">Muhydeen Popoola</a></span>
    </div>
  </div>