{% load static %}

<header class="top-navbar sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'img/logo.jpg' %}" width="70" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbars-host">
          <ul class="navbar-nav ml-auto">
            <li {% if '/' == request.path %}
            class="nav-item active"
            {% else %}
            class="nav-item"
            {% endif %}
            ><a class="nav-link" href="{% url 'index' %}">Home</a></li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Categories </a>
              <div class="dropdown-menu" aria-labelledby="dropdown-a">
               
                  <a class="dropdown-item" value="" name="laptop" href="course-grid-2.html">Laptops</a>

              </div>

            </li> -->
            <li {% if 'product' in request.path %}
            class="nav-item active"
            {% else %}
            class="nav-item"
            {% endif %}>
                <a href="{% url 'product' %}" class="nav-link">Products</a>
            </li>

            <li {% if 'about' in request.path %}
            class="nav-item active"
            {% else %}
            class="nav-item"
            {% endif %}>
                <a href="{% url 'about' %}" class="nav-link">About us</a>
            </li>
            <li {% if 'contact' in request.path %}
            class="nav-item active"
            {% else %}
            class="nav-item"
            {% endif %}>
            <a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
            {% if user.is_authenticated %}
            <li {% if 'login' in request.path %}
            class="nav-item ative" hidden
            {% else %}
            class="nav-item" hidden
            {% endif %}><a class="nav-link" href="{% url 'login' %}">Login</a></li>
            <li class="nav-item" hidden><a class="nav-link" href="{% url 'register' %}">Register</a></li>
            <li
            {% if 'cart' in request.path %}
            class="nav-item active"
            {% else %}
            class="nav-item"
            {% endif %}><a class="nav-link" href="{% url 'cart' %}">Dashboard</a></li>
            <li class="nav-item" ><a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">Log Out</a>
            <form action="{% url 'logout' %}" method="POST" id="logout">
              {% csrf_token %}
              <input type="hidden">
            </form>
            </li>
            {% endif %}
          </ul>
          <!-- <ul class="nav navbar-nav navbar-right">
                        <li><a class="hover-btn-new log orange" href="#" data-toggle="modal" data-target="#login"><span>Book Now</span></a></li>
                    </ul> -->
        </div>
      </div>
    </nav>
  </header>